.gitattributes export-ignore
prtsc
prtsc/** export-ignore
LICENSE export-ignore
README.md export-ignore
THIRD_PARTY_NOTICES.md export-ignore
USER-GUIDE.md export-ignore
level-editor.png export-ignore
